<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">E-Procurement</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lc">
                <span class="oi oi-document" aria-hidden="true"></span> Credit Lines
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pg">
                <span class="oi oi-clock" aria-hidden="true"></span> Performances
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bid">
                <span class="oi oi-check" aria-hidden="true"></span> Bonds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apg">
                <span class="oi oi-dollar" aria-hidden="true"></span> Advance Payments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        _collapseNavMenu = !_collapseNavMenu;
    }

}